{% load static %}

<footer class="page-footer font-small mt-4 wow fadeIn bg-dark">

    <!--Call to action-->
    <div class="container pt-4">
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold" style="font-size:18px">Hỗ trợ khách hàng</p>
          <ul style="list-style-type:none;font-size:16px;" class="pl-0">
              <li class="mb-1"><a href="/">Trung tâm trợ giúp</a></li>
              <li class="mb-1"><a href="/">Hướng dẫn mua hàng</a></li>
              <li class="mb-1"><a href="/">Hướng dẫn bán hàng</a></li>
              <li class="mb-1"><a href="/">Chăm sóc khách hàng</a></li>
              <li class="mb-1"><a href="/">Trung tâm trợ giúp</a></li>
              <li class="mb-1"><a href="/">Trả hàng hoàn tiền</a></li>
          </ul>
        </div>
        <div class="col-md-4">
           <p class="font-weight-bold" style="font-size:18px">Về chúng tôi</p>
          <ul style="list-style-type:none;font-size:16px;" class="pl-0">
              <li class="mb-1"><a href="/">Giới thiệu</a></li>
              <li class="mb-1"><a href="/">Tuyển dụng</a></li>
              <li class="mb-1"><a href="/">Điều khoản</a></li>
              <li class="mb-1"><a href="/">Chính sách bảo mật</a></li>
              <li class="mb-1"><a href="/">Liên hệ</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-left">
          <p class="font-weight-bold" style="font-size:18px">Phương thức thanh toán</p>
            <ul style="list-style-type:none;font-size:16px;" class="pl-0">
              <li class="mb-1"><a href="/">Stripe</a></li>
              <li class="mb-1"><a href="/">Paypal</a></li>
              <li class="mb-1"><a href="/">SSL Payment</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4 text-center">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2022 Copyright
    </div>
    <!--/.Copyright-->

  </footer>